body {
  font-family: sans-serif, Arial, Helvetica;
  background-color: #e4e5f1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 400px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#todo-form {
  display: flex;
  align-items: center;
}

input[type="text"] {
  width: calc(100% - 100px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button[type="submit"] {
  width: 100px;
  padding: 10px 20px;
  background-color: #8181f7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #eee;
  background-color: #fafafa;
}

.delete {
  margin-left: auto;
  background: none;
  border: none;
  color: #9394a4;
  cursor: pointer;
}

.delete:hover {
  color: red;
}

li.completed {
  background-color: #f0f0f0;
}

li.completed span {
  text-decoration: line-through;
}

input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  accent-color: #8181f7;
}

.edit {
  margin-right: 10px;
  background: none;
  border: none;
  color: #9394a4;
  cursor: pointer;
}

.edit:hover {
  color: blue;
}
